.error{
    background-color: yellow;
    color:black;

}

.warning{
    background-color: yellow;
    color:black;

}

.danger{
    background-color: yellow;
    color:black;

}

.fkoff{
    background-color: yellow;
    color:black;

}